{
  "rules": {
    "no-unused-expressions": 0
  },
  "globals": {
    "describe": false,
    "it": false,
    "expect": false,
    "sinon": false,
    "proxyquire": true,
    "beforeEach": false
  }
}
